@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pinyon+Script&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', 'Montserrat', 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    line-height: 2rem;
    text-align: justify;

}

/*
nav {
    padding: 0 50px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.navbar-one{
    background-color: blueviolet;
    color: #99f6e7;
    height: 40px;
    cursor: pointer;    
}

.navbar-one p{
    margin-left: 70vh;
    margin-top: 10px;
}

.navbar-one .right .social-links a {
    font-size: 1rem;
    background: blueviolet;
    color: #99f6e7;
    padding: 0;
    margin-right: 0;
    margin-left: 1px;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

.left > div + div{
    margin-left: 40px;
}

.right > div{
    margin-left: 40px;
}

.left > div:hover,
.right > div:hover{
    color: black;
    transition: all 0.5s;
}

span{
    margin-left: 5px;
    font-size: 15px;
}
*/


/*
.navbar-second {
    background-color: rgb(229, 252, 252);
    height: 120px;
    position: sticky !important;
    top: 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    width: 100%;
}

.navbar-second p {
    color: rgb(54, 4, 65);
    font-size: 25px;

    width: 300px;
    height: 30px;
    margin-left: 10px;
    margin-top: 60px;
    text-align: left;
    font-style: italic;
    
    font-family: cursive;
}

.navbar-second h5 {
    color: rgb(54, 4, 65);
    font-size: 15px;
    width: 200px;
    height: 80px;
    margin-left: 10px;
    
    text-align: left;
    font-family: cursive;
    font-style: italic;
}

.logo {
    text-transform: uppercase;
    
}

img.logo {
    width: 80px;
    float: left;
    margin-left: 30px;
    margin-top: 1px;
    border-radius: 10%;
}

ul {
    margin: 70px;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 20px;
    color: black;
    font-weight: 400;
}

.navbar-second .flex a {
    text-decoration: none;
    color: rgb(92, 4, 173);
}

.navbar-second .btn-link {
    text-decoration: none;
    border-radius: 10%;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

.btn-link:hover {
    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 992px) {
    .order-lg-0 {
        order: 0 !important;
    }
}

/* Mobile Navigation*
.mobile-nav-toggle {
    color: #6b0e0e;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(39, 37, 34, 0.9);
    transition: 0.3s;
    z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #433f39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #ffb03b;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #ffb03b;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: rgb(229, 252, 252);
}

#header.header-scrolled {
    background: rgb(12, 175, 175);
    height: 60px;
    padding: 10px 0;
}

#header .logo h1, h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #000000;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

@media (max-width: 768px) {
    #header .logo h1 {
        font-size: 25px;
        padding: 8px 0;
    }
}

#main {
    margin-top: 80px;
}

#header .btn-link {
    text-decoration: none;
    border-radius: 10%;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

.btn-link:hover {
    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #2717b3;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #968c0c;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #800404f1;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #25564f;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #398a80;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #31d647;
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #5e0930;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #5cb620;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa0";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #330cdf;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(206, 121, 10, 0.9);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #d4157e;
}

section#inicio {
    background-image: url("./img/frente-site-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    /* opacity: 80%;*/
}

section#inicio h2 {
    color: rgb(21, 96, 99) !important;
    margin-top: 80px;
    margin-left: -35px;
    font-size: 3rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-family: cursive;
}

/* 
    float: left;
    clip-path: ellipse(50% 30%);
    shape-outside: ellipse(55% 35%);

    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;


section#inicio span#title { 
    color: rgb(231, 254, 254) !important;
    margin-left: 55px;    
    font-size: 3rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-family: cursive;
}

section#inicio span#subtitle { 
    color: rgb(231, 254, 254) !important;
    margin-top: 20px;
    margin-left: 30px;    
    font-size: 3rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-family: cursive;
}
*/
.text-shadow {
    text-shadow: 7px 7px 15px #000000;
}

section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    color: rgb(231, 254, 254) !important;
    text-decoration: none;

}

section#inicio div#init {
    background: rgb(230, 230, 230);
    margin-top: -100px;
    margin-left: 120px;
    float: left;
    clip-path: ellipse(50% 17%);
    shape-outside: ellipse(55% 35%);
}

section#inicio div#init a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    font-weight: 400;
}


section#inicio .btn-link {
    text-decoration: none;
    border-radius: 10%;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

section#inicio .btn-link:hover {
    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

/*
section{
    width: 100%;
    height: 150vh;
    background-image: url(./static/img/logo.jpeg)no-repeat center center / cover;
}
*/

@media (max-width: 1024px) {
    section#inicio h2 {
        font-size: 3.5rem;
    }

    /*
    section#inicio span#subtitle {
        margin-right: 0;
        font-size: 1rem;
    }
    section#inicio span#title {
        margin-right: 0;
        font-size: 1rem;
    }
    */
    #main {
        margin-left: 0;
    }
}

section#inicio div#init-1 img {
    margin-left: 150px;
    float: right;
    clip-path: ellipse(35% 35%);
    shape-outside: ellipse(55% 35%);
    border: 15px solid rgb(224, 11, 11);
}

section-bg#sobre {
    background-color: #ecd2fb;
}

/*section#sobre p {
    animation-duration: 3s;
    animation-name: slide-left;
}
  
@keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
*/

section#sobre img {
    border-radius: 20px;
    animation-duration: 3s;
    animation-name: slide-right;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

section#sobre a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(92, 4, 173);
    font-weight: 400;
}

section#sobre .btn-link {
    text-decoration: none;
    border-radius: 10%;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

section#sobre .btn-link:hover {
    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

section-bg#especialidades {
    background-color: rgb(168, 244, 244);
}

section-bg#especialidades img {
    width: 100%;
    height: 350px;
}

.carousel-indicators {
    margin-bottom: 10px;
}

@media (max-width: 1860px) {
    .carousel-control-prev {
        margin-left: -3rem;
    }

    .carousel-control-next {
        margin-right: -3rem;
    }
}

section-bg#carouselExampleAutoplaying {
    margin-bottom: -35px;
}

@media (max-width: 1860px) {
    .carousel-control-prev {
        margin-left: 1rem;
    }

    .carousel-control-next {
        margin-right: 1rem;
    }
}

section#consultorio {
    background-color: #f7d4fa;

}

section#consultorio h2 {
    margin-top: 40px;
}

section#consultorio img {
    border-radius: 10px;
}

section#consultorio a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(92, 4, 173);
    font-weight: 400;
}

section#consultorio .btn-link {
    text-decoration: none;
    border-radius: 10%;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

section#consultorio .btn-link:hover {
    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

/*
section#convenios {    
    background-color: #fff;
    border-bottom: 1px solid rgb(204, 204, 204);
}

section#convenios p{
    font-size: 30px;
    text-align: center;
}

section#convenios img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

section#convenios div#saiba-mais {
    width: 9rem;
}

section#convenios div#saiba-mais a {
    text-decoration: none;
    color: #41098f;
}
*/

#btn-enviar-loader {
    display: none;
}

.navbar-third {
    background-color: rgb(229, 252, 252);
    color: white;
    height: 200px;

}

.navbar-third p {
    color: rgb(54, 4, 65);
    font-size: 25px;
    /*font-weight: bolder;*/
    width: 300px;
    height: 30px;
    margin-left: 20%;
    margin-top: 10px;
    text-align: left;
    font-family: cursive;
    font-style: italic;

}

.navbar-third h5 {
    color: rgb(54, 4, 65);
    font-size: 15px;
    width: 200px;
    height: 80px;
    margin-left: 60px;
    /*margin-top: 0px;*/
    text-align: left;
    font-family: cursive;
    font-style: italic;
}

.navbar-third .logo {
    text-transform: uppercase;
    width: 80px;
    float: left;
    margin-left: 70px;
    margin-top: 1px;
    border-radius: 10%;
}

.navbar-third .right .social-links {
    margin-top: 6rem;
    margin-left: 20px;
}

.navbar-third .right .social-links a {
    font-size: 1rem;
    background: black;
    color: #fff;
    padding: 0.6rem;
    margin-left: -6rem;
    margin-right: 10rem;
    border-radius: 20%;
    transition: 0.3s;
    text-decoration: none;
}

.navbar-third#right>div {
    margin-left: 40px;
}

.navbar-third#right>div:hover {
    color: black;
    transition: all 0.5s;
}

.navbar-third#ul {
    margin: 200px;
}

.navbar-third#li {
    list-style: none;
}

.navbar-third a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 20px;
    color: rgb(54, 4, 65);
    font-weight: 400;
}

.navbar-third .btn-link {
    text-decoration: none;
    border-radius: 5px;
    width: 300px;
    margin-left: 10px;
    margin-right: 100px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    color: rgb(209, 250, 250);
}

.navbar-third .btn-link:hover {
    /*
    box-shadow: 8px 2px 2px #000;
    background-color: yellowgreen;
    text-decoration: none;
    */

    color: rgb(114, 17, 205);
    box-shadow: 8px 2px 2px black;
    background-color: #75d9c4;
    text-decoration: none;
    font-weight: bold;
}

.section-bg#psico {
    background-color: #fff;
    position: center;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

.section-bg#psico h2 p {
    margin-left: 50px;
}

.section-bg#acomp {
    background-color: #fff;
    position: center;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

.section-bg#orient {
    background-color: #fff;
    position: center;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

.section-bg#orient h1 p {
    margin-left: 50px;
}

.section-bg#consult {
    background-color: #fff;
    position: center;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

.section-bg#plant {
    background-color: #fff;
    position: center;
    width: 100%;
    text-align: justify;
    margin-bottom: 40px;
}

/*Animação*/
/*[data-anime] {
    opacity: 0 ;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
*/

#footer {
    padding: 15px;
    color: black;
    font-size: 14px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgb(240, 236, 236);
    transition: .3s;
}

/* @media (max-width: ) */

@media (max-width: 1012px) {
    #footer {
        position: static;
        width: auto;
        padding: 20px 15px;
    }
}